*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    height: 100px;
    background: #9F0B13;
}
header>#box-home{
    width: 960px;
    height: 100px;
    line-height: 100px;
    border-radius: 4px 4px 0 0;
    /* background: #2C2C2C; */
    margin: 0 auto;
    text-align: center;
}
header>#box-home .home-list{
    list-style-type: none;
}
header>#box-home .home-list>li{
    display: inline-block;
    width: 15%;
    height: 30px;
    background: #fff;
    text-align: center;
    border-radius: 4px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
    /* opacity: 0.5; */
    margin-left: 10px;
    cursor: pointer;
}
header>#box-home .home-list>li:hover{
    background: turquoise;
}
header>#box-home .home-list>li>span{
    color: #000;
}
header>#box-home .home-list>li>span a{
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}
    main{
    width: 100%;
    height: 2000px;
    background: #d11d0d;
}
main>.box-main{
    width: 960px;
    height:750px;
    /* background: orange; */
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
}
main>.main-nav{
    width: 100%;
    height: 50px;
    background: url(../images/hotpotnav.png);
}
main>.box-main> .main-text h2{
    width: 100%;
    height: 50px;
    text-align: center;
}
main>.box-main> .main-text .text-list{
    width: 100%;
    height: 1700px;
    background: #E5E5E5;
    border-radius: 5px;
    text-align: center;
    padding: 30px 40px;
}
main>.box-main> .main-text .text-list>img{
    border-radius: 5px;
}
main>.box-main> .main-text .text-list>.text-sly{
    text-align: left;
}
main>.box-main> .main-text .text-list>.text-sly>h4{
    margin: 20px 0;
}
main>.box-main> .main-text .text-list>.text-sly>h5{
    margin: 20px 0;
}
main>.box-main> .main-text .text-list>.text-sly>img{
    border-radius: 5px;
    margin: 10px 0 10px 160px ;
}
footer{
    width: 100%;
    height: 180px;
    background: #332C27;
}
footer>.foot-left{
    height: 100%;
    width: 700px;
    /* background: gray; */
    float: left;
}
footer>.foot-left>h2{
    font-size: 32px;
    font-weight: 400;
    font-family: Cursive;
    color: white;
    margin: 5px 0;
}
footer>.foot-left>ul>li:first-child{
    font-size: 20px;
}
footer>.foot-left>ul>li{
    list-style-type: none;
    display: inline-block;
    color: #888888;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 15px;
}
footer>.foot-left>ul>li:hover{
    color: white;
}
footer>.foot-right{
    height: 100%;
    width: 200px;
    /* background: green; */
    float: right;
    text-align: center;
}
footer>.foot-right>.right-code{
    width: 100%;
    margin-top: 40px;
}
footer>.foot-right>.right-code img{
    width: 100px;
    height: 100px;
}
.foot-add{
    width: 100%;
    height: 50px;
}
.add-text{
    width: 960px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
}